
#payment,.credit-card ,.credit-card form,.cc-info {
    display: flex;
}

#payment{
    margin: 0 auto;
    width: 86.5vw;
    display: flex;
    justify-content: center;
}
.frame h1{
    color:#9f7565;
    text-align: center;
    margin: 20px;
}
.credit-card{
    width: 100%;
    padding: 28px 48px 20px 48px;
    border-radius: 14px;
    background-color: #E0CFC9;
    flex-direction: column;
}
.card-form-wrapped form{
    flex-direction: column;
}
.card-logo{
    font-size: 2.3rem;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}
.card-logo svg{
    margin: 0 8px;
}

.card-form-wrapped form{
    text-transform: uppercase;
    font-size: 1.3rem;
}
.card-form-wrapped form label{
    color: #968181;
    font-weight: 500;
}
.card-form-wrapped form input{
    padding: 10px 8px; 
    border: 1.5px solid #CBB8B2;
    background-color: white;
    border-radius: 6px;
    width: 100%;
    margin-top: 8px;
}
.last-inputs{
    display: flex;
    justify-content: space-between;
  }
  .last-inputs .input-wrapped{
    width: 45%;
    margin: 0;
  }
.input-wrapped, .last-inputs{
    margin-bottom: 16px;
}
button{
    padding: 16px 8px; 
    width: 100%;
    border-radius: 6px;
    background-color: #9F7565;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1px;
    border: none;
    transition: all .5s;
    color: #ffff;
}
button:hover{
    background:#815c4d;
}
.shop-resume{
    width: 25%;
    margin: 0 0 0 20px;
    background-color: rgba(221, 210, 206, 0.36);
    min-height: 100px;
}
.credit-card-image{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.cc-bg{
    width: 100%;
    max-width: 365px;
    height: 230px;
    background:no-repeat;
    background-size: cover;
    background-image: url('../imgs/card.svg');
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.cc-info{
    height: 63%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-family: 'Poppins';
}
.cc-icons{
    display: flex;
    justify-content: space-between;
}
.cc-number{
    letter-spacing: .25rem;
    font-weight: 600;
    font-size: 2.4rem;
}
.cc-input{
    font-size: 1.15rem;
}
.cc-value{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 4px;
}
.last-inputs-info{
    display: flex;
    justify-content: space-between;
}
