@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

html{
      font-size: 10px;
      scroll-behavior: smooth;
      font-family: 'Raleway', sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing:antialiased;
}

a{
      text-decoration: none;
}
h1{
      font-size: 4.5rem;
      color:#9f7565;
}
h2{
      font-size: 2.2rem ;
}
h3{
      font-size: 1.7rem;
}
.container{
      max-width:1000px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      height: 100%;
      padding: 10px 20px;
}
/* HEADER PART ONE */
.header-first{
      height: 10vh;
}
.header-first p{
      font-size: 1.7em;
      font-weight: 200;
      text-transform: uppercase;
}
.header-first i{
      font-size: 2em;
      color: rgb(0, 0, 0);
}
.header-first a{
      text-decoration: none;
}
/* HEADER PART TWO */
.header-two{
      background-color:#D4C1BC;
      box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.2) ;
      position: relative;
      z-index: 10; 
}
.header-two .container{
      height: 17vh;
}

.header-two .container  img{      
      height: 110%;
}

/* NAV*/

nav ul{
      
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.7rem;
}
nav ul li
{
      list-style: none;
      padding: 23px 10px;
      position: relative;
      display: flex;   
      z-index: 10; 
      
}
nav ul li a
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 18px 13px;
    transition: all .6s ;
    text-align: center;    
}
nav ul li ul
{
      display: none;
}
nav ul li ul li
{
      padding: 10px 10px;
}
nav ul li ul li a{
      padding: 2px;
      width: 100%;
      text-align: center;
      
} 
header .container img{
    height: 20px;
}
#checkbox-menu{
      display: none;
}
#btn-2{
      width: 200px;
      display: none;
}
.menu span{
      margin-left: 7px;
}

/* #guia */

.all-cards{
      max-width: 1000px;
      height: 73vh;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 1;
}

.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000ac;
    transition: all 0.3s ease 0s;
    width: 310px;
    background-color: #aa9894;
}

.card:hover{
    transform: translateY(-7px);
}

.image {
    width: 100%;
    margin-top: -10px;
    overflow: hidden; 
    position: relative;
    height: 410px;
    min-height: 300px;
    
}

.image img{
      width: 102%;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.content {
      margin:0 10px;
      margin-bottom: 10px;
      padding: 5px;
      
}
.content .title{
      font-size: 2rem;
      text-align: center;
      font-weight: 300;
      color:#ffffff;
      /* text-shadow: 0 0 2px rgb(0, 0, 0); */
      text-transform: uppercase;
}

.instagram{
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 1000px;
      margin: 10px auto;
}

.instagram img{
      max-width: 300px;
      margin: 0;
}
.instagram p{
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 20px;
}
.instagram i{
      font-size: 3rem;
      color: #9f7565;
}



/* GUIA DE MEDIDAS*/

#guia .container{
      flex-direction: column;
      align-items: flex-start;
      margin:10px auto;
      
}
main .container h1{
      margin: 15px 5px;
      letter-spacing: .1rem;
      align-self: center;
}
main .container p{
      margin-top: 15px; 
      font-size: 1.8rem; 
      line-height: 2rem;
}
#guia .container .medidas{
      margin: 20px 0;
      width: 100%;
      color:rgb(44, 31, 31);
}
      
main .container h2{
      margin-bottom: 20px;
}
#guia .container table{
      border-collapse: collapse;
      width: 100%;
}
#guia .container table td, #guia .container table th{
      padding: 10px 10px;
      font-size: 1.8rem;
      text-align: left;
}
#guia .container table th{
      padding-top: 14px;
      text-align: left;
}

#guia .container table tr:nth-child(odd){
	Background-color:#d1c2bd43;
	}

/* CONTATO */
#contact{
      background-color: #ddd2cedd;
      position: relative;
      z-index: 1;
      height: 73vh;
}
#contact .container{ 
      height: 77vh;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 1150px;
      
}
#contact .contato .all-texts{
      max-width:590px ;
      padding: 10px;
}

#contact .contato .all-texts h2{
      margin: 5px;
      font-size: 2.5rem;
      letter-spacing: .1rem;
      line-height: 2.7rem;
      font-weight: 400;
}

#contact .contato .all-texts span{
      font-family: 'Staatliches', cursive;
      color:#9f7565;
      letter-spacing: .3rem;
}

#contact .contato .all-texts .social-media-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      
      
}
.social-media-content .social-media{
      text-align: center;
}
.social-media-content .barra{

      width: .2px;
      height: 60px;
      background-color: #937e85;
      display: block;
}

.social-media-content .social-media i{
      font-size: 2rem;
}
.social-media-content .social-media i,.social-media-content .social-media p{
      color: #9f7565;     
}


.forms{
      width: 500px;
      border-radius: 20px;
      background-color: rgb(255, 255, 255);

}
.forms form{
      padding: 30px ;
}
.forms form label{
      font-size: 1.8rem;
      
}
.forms form .form-elements{
      margin: 20px 0px;
}
.forms form input,.forms form textarea{
      margin-top: 0px;
      width: 100%;
      border-radius: 10px;
      padding: 15px;
      font-size: 1.6rem;;
      border: none;
      background-color:#ddd2ce45 ;
}
.forms form button{
      position: relative;
      top:20px;
      width: 100%;
      border-radius: 10px;
      padding: 15px;
      font-size: 1.6rem;;
      border: none;
      background-color:#D4C1BC ;
}

/* -------------PRODUTOS--------------- */
#products {
      width: 90%;
      max-width: 1100px;
      margin: auto;
}
#products .category-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1.7rem;
      padding: 32px 10px;
      margin-bottom: 15px;
}
#products .category-controls select {
      appearance: none;
      min-width: 250px;
      padding: 13px 10px;
      margin: 0px 10px;
      border-radius: 10px;
      font-weight: 500;
      border:1.5px solid #B78C82;
      color: #a8837a;
      background: url('../imgs/arrow-icon-hover.svg');
      background-repeat: no-repeat;
      background-position: right;
      transition: all .4s;
      outline: none;
}
#products .category-controls select:focus {
      outline: none;
      border:1.5px solid #B78C82;     
}

#products .category-body{
      display: flex;
      flex-direction: row;
      justify-content: baseline;
      padding: 0px 10px;
      height: 100%;
}
#products .category-body .filtro-text{
      padding: 10px 0px;
      color: #434343;
      width: 23%;
      letter-spacing: 0.08rem;
      
}
#products .category-body .filtro-text h2{
      margin-bottom: 15px;
}

#products .category-body .check{
      margin: 10px 0;
}

#products .category-body .check .container{

  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
#products .category-body .check input{
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 10;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #937e85;
  border-radius: 3px;
}
/* On mouse-over, add a grey background color */
#products .category-body .check .container:hover input ~ .checkmark {
  background-color: rgb(235, 232, 232);
}

/* When the checkbox is checked, add a blue background */
#products .category-body .check .container input:checked ~ .checkmark {
  background-color: #937e85;
}
/* Create the checkmark/indicator (hidden when not checked) */
#products .category-body .check .container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#products .category-body .check .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#products .category-body .check .container .checkmark:after {
  left: 3.6px;
  top: 3px;
  width: 5px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



#products .category-body .all-card-products {
      width: 90%;
      max-width: 980px;
      margin: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, .4fr));
      grid-gap: 30px 10px;
      margin-top: 15px;
}

#products .card {
    max-width: 240px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.card:hover{
    transform: translateY(0px);
}
#products .card .image{
    width: 100%;
    position: relative;
    min-height: 20px;
    height: 260px;
    overflow: hidden;
    background-color: #937e85;
    border-radius: 30px 30px 0px 0px;
}


#products .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px 30px 0px 0px;
}
#products .content::before {
      content: '';
      width: 240px;
      margin: -10px;
      height: 6px;
      background-color: #9f7565;
      display: block;
}

#products .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      justify-content: center;

}
#products .content .title {
      font-size: 1.7rem;
      text-align: center;
      font-weight: 400;
      color: rgb(0, 0, 0);
      text-transform: uppercase;
      padding: 5px;
      margin-top: 20px;

}


#products .content .price{
      padding-top: 3px;
      font-weight: 600 ;
      font-size: 2rem;
      font-family: 'poppins';
      color:#9f7565;
}

#products .content .btn{
      margin-top:7px;
      padding: 0.8em 1em;
      border: 2px solid #9f7565;
      position: relative;
      overflow: hidden;
      background-color: transparent;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.3rem;
      transition: .3s;
      z-index: 1;
      font-family: inherit;
      color: #9f7565;
}

#products .content .btn::before {
      content: '';
      width: 0;
      height: 500%;
      position: absolute;
      top: 50%;
      left: 51%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: #9f7565;
      transition: .5s ease;
      display: block;
      z-index: -1;
}

#products .content .btn:hover::before {
      width: 105%;
}

#products .content .btn:hover {
      color: #111;
}