<!DOCTYPE html>
<html lang="pt-br">
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Rosegolde</title>
            <link rel="shortcut icon" href="assets/imgs/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
            <link rel="stylesheet" href="assets/css/reset.css">
            <link rel="stylesheet" href="assets/css/style.css"> 
            <link rel="stylesheet" href="assets/css/responsive.css">

      </head>
      <body>
            <header>
                  <div class="header-one">
                        <div class="container">
                              <p>Envio para todo Brasil</p>
                              <a href="carrinho">
                                    <i class="fa-solid fa-cart-shopping"></i>
                              </a>
                        </div>
                  </div>

                  <div class="header-two">
                        <div class="container">
                             
                              <img src="assets/imgs/rosegolde.png" alt="logo">   
                        
                        <div class="menu-section">
                              <!--Criando o menu hamburguer-->
                              <div class="container-menu">
                                    <input type="checkbox" id="checkbox-menu">
                                    <label class="menu-button-container" for="checkbox-menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    </label>
                              <!--------------------------->
                                    <nav>
                                          <ul class="menu">
                                                <li><a href="index.html">Home</a></li>
                                                <li class="mobile_dropdown">
                                                      <a href="#">
                                                      <label for="btn-2" class="first">
                                                                  Produtos
                                                                  <span class="fas fa-caret-down"></span>
                                                      </label>
                                                      </a>
                                                      <input type="checkbox" id="btn-2">
                                                      <ul>
                                                      <li><a href="com">Conjuntos com bojo</a></li>
                                                      <li><a href="sem">Conjuntos sem bojo</a></li>
                                                      <li><a href="noite">Noite</a></li>
                                                      </ul>
                                                </li>
                                                <li><a href="contato.html">Contato</a></li>
                                                <li><a href="guia-medidas.html">Guia de medidas</a></li>
                                                <li><a href="#">Sobre nós</a></li>
                                          </ul>
                                    </nav>
                              </div>
                        </div>
                              
                        </div>

                  </div>
            </header>
            <main id="carrinho">
                  <div class="carrinho container">
                        <div class="title">
                              <h1>Carrinho de compras</h1>
                        </div>
                        <div class="itens-compras">
                              <div class="itens-carrinho shadow">
                                    <div class="card-carrinho" >
                                          <table>
                                                <tr class="table-header">
                                                      <th>Produto</th>
                                                      <th>Quantidade</th>
                                                      <th>Preço</th>
                                                </tr>
                                                <tr>
                                                      <td class="produto-carrinho">
                                                            <div class="imagem-carrinho">
                                                                  <img src="assets/imgs/img1.png" alt="Item">
                                                            </div>
                                                            <div class="info-produto-carrinho">
                                                                  <p>Nome do produto</p>
                                                                  <div class="RemoveItem">
                                                                        <p class="remove"> Remover</p>                                                            
                                                                  </div>
                                                            </div>
                                                      </td>

                                                      <td>
                                                            <% for (let i = 0; i < 3; i++) {  %>
                                                            <div id="counter">
                                                                  <button name="Subtrair" id="sub<%=i%>">-</button>
                                                                  <span class="currentNumber<%=i%>"></span>
                                                                  <button name="Adicionar" id="add<%=i%>" >+</button>
                                                            </div>
                                                             <% } %> 

                                                      </td>

                                                      <td>
                                                            <div class="">
                                                                  <p>
                                                                        Precinho
                                                                  </p>
                                                            </div>
                                                      </td>
                                                </tr>
                                                
                                          </table>
                                    </div>
                              </div>
                              <div class="card-resumo-pedido shadow">
                                    <div class="card-resumo-wrapped">
                                          <div class="title-pedido">
                                                <h2>Resumo do pedido</h2>
                                          </div>
                                          <div class="Subtotal">
                                                <p>Subtotal</p>
                                                <p>R$ 100</p>
                                          </div>
                                          <div class="final">
                                                <button>Finalizar compra</button
                                          </div>
                                          
                                    </div>
                              </div>
                        </div>
                  </div>
                  
            </main>
            <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger
            intent="WELCOME"
            chat-title="RosegoldeLoja"
            agent-id="2ae7b0cf-ff65-4fd6-a7a2-cd812f8a8c0d"
            language-code="pt-br"
            ></df-messenger>

            <script src="../assets/js/contador2.js"></script>
</body>
</html>