<!DOCTYPE html>
<html lang="pt-br">
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Rosegolde</title>
            <link rel="shortcut icon" href="assets/imgs/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
            <link rel="stylesheet" href="assets/css/reset.css">
            <link rel="stylesheet" href="assets/css/style.css"> 
            <link rel="stylesheet" href="assets/css/responsive.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

      </head>
      <body>
            <%-include('../include/menu')%>
            <main id="carrinho">
                  <div class="carrinho container">
                        <div class="title">
                              <h1>Carrinho de compras</h1>
                        </div>
                        <div class="itens-compras">
                              <div class="itens-carrinho shadow">
                                    <div class="card-carrinho" >
                                          <table>
                                                <tr class="table-header">
                                                      <th>Produto</th>
                                                      <th>Quantidade</th>
                                                      <th>Preço</th>
                                                </tr>
                                                <tr>
                                                      <td class="produto-carrinho">
                                                            <div class="imagem-carrinho">
                                                                  <img src="assets/imgs/img1.png" alt="Item">
                                                            </div>
                                                            <div class="info-produto-carrinho">
                                                                  <p>Nome do produto</p>
                                                                  <div>Tamanho: <span class="size">P</span></div>
                                                            </div>
                                                      </td>
                                                      <td>
                                                            
                                                            <div id="counter">
                                                                  <button name="Subtrair" id="sub">-</button>
                                                                  <span class="currentNumber">1</span>
                                                                  <button name="Adicionar" id="add" >+</button>
                                                            </div>
                                                            

                                                      </td>

                                                      <td>
                                                            <div class="">
                                                                  <p>
                                                                        Precinho
                                                                  </p>
                                                            </div>
                                                            <span class="material-symbols-outlined remove">
                                                                  cancel
                                                            </span>
                                                      </td>
                                                </tr>
                                                
                                          </table>
                                    </div>
                              </div>
                              <div class="card-resumo-pedido shadow">
                                    <div class="card-resumo-wrapped">
                                          <div class="title-pedido">
                                                <h3>Resumo do pedido</h3>
                                          </div>
                                          <div class="Subtotal">
                                                <p>Subtotal</p>
                                                <p>R$ 100</p>
                                          </div>
                                          <div class="final">
                                                <button>Finalizar compra</button>
                                          </div>
                                          
                                    </div>
                              </div>
                        </div>
                  </div>
                  
            </main>
            <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger
            intent="WELCOME"
            chat-title="RosegoldeLoja"
            agent-id="2ae7b0cf-ff65-4fd6-a7a2-cd812f8a8c0d"
            language-code="pt-br"
            ></df-messenger>

            <script src="../assets/JS/contador2.js"></script>

</body>
</html>