<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/pagamento.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://unpkg.com/imask@6.4.3/dist/imask.js"></script>
</head>
<body>
    <%-include('../include/menu')%>
    <div class="frame">
        <h1>Gateway de Pagamento</h1>
        <main id="payment">
            <div class="credit-card">
                <div class="logomarca card-logo">  
                    <span>ROSEGOLDE</span>
                    <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.20279 14.205L1.19949 14.2094L1.1963 14.2139C1.0183 14.4659 0.619567 14.54 0.307747 14.3198C0.0581329 14.1435 -0.0169037 13.7507 0.19565 13.4402C0.512792 13.0359 0.743116 12.5633 0.894393 12.1013C1.05188 11.6203 1.12513 11.0737 1.12228 10.5377C1.11942 10.0016 1.04036 9.45586 0.877754 8.97657C0.721565 8.51619 0.486221 8.04604 0.164792 7.64518C-0.051056 7.33701 0.0197929 6.94341 0.267515 6.76446C0.576972 6.54092 0.976472 6.61073 1.15714 6.86085L1.16039 6.86533L1.16373 6.86974C1.5638 7.39729 1.89193 7.98342 2.08802 8.55847C2.29443 9.23495 2.42591 9.88932 2.42932 10.5307C2.43292 11.2057 2.36842 11.8445 2.12074 12.4734C1.85099 13.1583 1.58978 13.6832 1.20279 14.205ZM4.09538 15.4577L4.1032 15.4467L4.11037 15.4352C4.99707 14.0145 5.50852 12.3002 5.49901 10.5144C5.4895 8.72894 4.96009 7.02061 4.05872 5.6097C3.86339 5.29993 3.95113 4.93369 4.28038 4.69585C4.50151 4.53612 4.91663 4.59267 5.16294 4.92276C6.18061 6.5374 6.79531 8.48923 6.80606 10.5074C6.81717 12.5945 6.22375 14.483 5.22241 16.1094C4.99077 16.4282 4.63615 16.5175 4.33035 16.3368C3.99882 16.0939 3.93822 15.6802 4.09538 15.4577ZM9.28606 2.80048L9.29481 2.81773L9.30492 2.83421C10.6839 5.08242 11.4502 7.67567 11.4652 10.4826C11.4801 13.2882 10.7421 15.8884 9.38836 18.1504C9.18082 18.4842 8.83042 18.5782 8.47519 18.4129C8.15189 18.2022 8.06503 17.853 8.2339 17.5004C9.38522 15.4557 10.1011 13.0463 10.0875 10.4899C10.074 7.945 9.40848 5.53942 8.15688 3.4946C7.98754 3.14545 8.07139 2.79772 8.39086 2.58461C8.77629 2.40049 9.15178 2.53544 9.28606 2.80048ZM13.3691 0.660901L13.3751 0.672686L13.3817 0.684121C15.0528 3.57265 16.0346 6.87508 16.0536 10.4582C16.0727 14.0376 15.1281 17.3471 13.491 20.2511C13.2831 20.581 12.9343 20.6734 12.5808 20.5089C12.2585 20.2988 12.1712 19.9512 12.3379 19.5997C13.915 16.908 14.7643 13.7896 14.7466 10.4651C14.7288 7.1321 13.7717 4.02575 12.2427 1.36064C12.0511 0.971594 12.1861 0.59056 12.4535 0.45507C12.846 0.256195 13.2325 0.391195 13.3691 0.660901Z" fill="white"/>
                    </svg>   
                </div>
                <div class="flex">
                    <div class="card-form-wrapped">
                        <form>
                        <div class="input-wrapped">
                            <label for="">número do cartão</label>
                            <input type="text" name="" id="number">
                        </div>
                        <div class="input-wrapped">
                            <label for="">nome do titular</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="last-inputs">
                            <div class="input-wrapped">
                                <label for="">expiração</label>
                                <input type="text" name="" id="">   
                            </div>
                            <div class="input-wrapped">
                                <label for="">CVC</label>
                                <input type="text" name="" id="cvc">   
                            </div>
                        </div>
                        <div class="input-wrapped">
                                <button type="submit">PAGAR AGORA</button>
                            </div>
                            
                        </form>
                </div>
                <div class="credit-card-image">
                    <div class="cc-bg">
                        <div class="cc-icons">
                            <img src="./assets/imgs/cc-icon.svg" alt="ícone aproximação">
                            <img src="./assets/imgs/cc-banco.svg" alt="ícone banco">
                        </div>
                        <div class="cc-info">    
                            <div class="cc-number">
                                2398172635477761
                            </div>
                            <div class="cc-info-wrapped">
                                <div class="cc-input">Nome do titular</div> 
                                <div class="cc-value name">Violetta Castillo</div>
                            </div>
                            <div class="last-inputs-info">
                                <div class="cc-info-wrapped">
                                    <div class="cc-input">Expiração</div> 
                                    <div class="cc-value name">11/24</div>
                                </div>
                                <div class="cc-info-wrapped">
                                    <div class="cc-input">CVC</div> 
                                    <div class="cc-value name">123</div>
                                </div>
                                <img src="./assets/imgs/chip.svg" alt="chip">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="shop-resume">
                
        </div>
    </div>
    </main>
    <script src="./assets/JS/imask-card.js"></script>
</body>
</html>